<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./tasks.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./tasks_script.js" defer></script>
    <title>Solution 04</title>
</head>

<body>
    <div id="app4">
        <div class="container">
            <div v-model="balance">Сума на рахунку: {{balanceRender}}</div>
            <div>
                <label>Зарахувати на рахунок <input type="number" v-model="addMoney" @focus="onFocus"></label>
                <button type="button" @click="onAddMoney">Add</button>
            </div>
            <div>
                <label>Зняти з рахунку <input type="number" v-model="withdrawMoney" @focus="onFocus"></label>
                <button type="button" @click="onWithdrawMoney">Withdraw</button>
            </div>
            <div v-model="showTax">Відсоток за обслуговування: {{taxRender}}</div>
            <div >Сума у доларах:{{dollarRateValue}} </div>
            <div>Сума у Євро: {{euroRateValue}}</div>
            <div>{{message}}</div>

        </div>
    </div>
</body>

</html>