<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./tasks.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./tasks_script.js" defer></script>
    <title>Solution 04</title>
</head>

<body>
    <div id="app4">
        <div class="container">
            <div  class="acount">Сума на рахунку: <span>{{startSum - percent}}</span></div>
            <div class="add">
                <label>Зарахувати на рахунок:
                    <input type="number" v-model="grnAdd">
                </label>
                <button class="button" @click="add">Зарахувати</button>
            </div>
            <div class="withdraw">
                <label>Зняти з рахунку:
                    <input  type="number" v-model="grnWithdraw">
                </label>
                <button class="button" @click="withdraw">Зняти</button>
            </div>
            <div class="percent">Відсотки за обслeговування: <span>{{percent}}</span></div>
            <div class="dollar">Сума у доларах: <span>{{dollarSum}}</span></div>
            <div class="grn">Сума у євро: <span>{{euroSum}}</span></div>

        </div>
    </div>
</body>

</html>