<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../solutions.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Lesson_02_Solution</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <label>Place Number:
                <input type="number" :class="difinitionPlaceColor" v-model="placeNumber">
            </label>
        </div>
    </div>
    <hr>
    <style>
        .first-place {
            color: green;
            font-size: 18px;
        }

        .second-place {
            color: yellow;
            font-size: 14px;
        }

        .third-place {
            color: orange;
            font-size: 12px;
        }

        .other {
            color: blue;
            font-size: 10px;
        }
    </style>
    <script>
        const { createApp } = Vue;
        const app = createApp({
            data() {
                return {
                    placeNumber: null,
                }
            },
            computed: {
                difinitionPlaceColor() {
                    let resultPlace
                    switch (this.placeNumber) {
                        case 1: resultPlace = "first-place"
                            break;
                        case 2: resultPlace = "second-place"
                            break;
                        case 3: resultPlace = "third-place"
                            break;
                        default:
                            resultPlace = "other"
                            break;
                    }
                    return resultPlace
                }
            }
        }).mount("#app")
    </script>
    <!-- ========================================================================================== -->
    <div id="app2">
        <div class="container">
            <label><span :class="[colorStatus, energyStatus]">Energy Level:</span>
                <input type="number" v-model="energyLevel">
            </label>
        </div>
    </div>
    <hr>
    <style>
        .high-energy-level {
            background-color: green;
        }

        .middle-energy-level {
            background-color: yellow;
        }

        .low-energy-level {
            background-color: red;
        }

        .succses::before {
            content: url("./img/green-check-mark-correct-tick-16237.png");
        }

        .warning::before {
            content: url("./img/icons8-warning-48.png");
            width: 10px;
        }
    </style>
    <script>
        const { createApp2 } = Vue;
        const app2 = createApp({
            data() {
                return {
                    energyLevel: null,
                }
            },
            computed: {
                colorStatus() {
                    let currentEnergyLevel = null
                    if (this.energyLevel) {
                        if (this.energyLevel > 80) currentEnergyLevel = "high-energy-level"
                        else if (this.energyLevel > 30) currentEnergyLevel = "middle-energy-level"
                        else currentEnergyLevel = "low-energy-level"
                    }
                    return currentEnergyLevel
                },
                energyStatus() {
                    let iconClass = null
                    if (this.energyLevel) {
                        iconClass = this.energyLevel >= 50 ? "succses" : "warning"
                    }
                    return iconClass
                },
            }
        }).mount("#app2")
    </script>
    <!-- ========================================================================================== -->
    <div id="app3">
        <div class="container">
            <label> Worker Age:
                <input type="number" v-model="workerAge">
            </label>
            <button :class="{[buttonStatusColor] : isWorkerAgeValid,}" :disabled="!isWorkerAgeValid">LogIn</button>
        </div>
    </div>
    <hr>
    <style>
        .less45age {
            background-color: green;
        }

        .greater45age {
            background-color: blue;
        }
    </style>
    <script>
        const { createApp3 } = Vue
        createApp({
            data() {
                return {
                    workerAge: null,
                }
            },
            computed: {
                isWorkerAgeValid() {
                    return this.workerAge && this.workerAge >= 18
                },
                buttonStatusColor() {
                    return this.workerAge < 45 ? "less45age" : "greater45age"
                }
            }
        }).mount("#app3")
    </script>
    <!-- ========================================================================================== -->
    <div id="app4">
        <div class="container">
            <label> Product Price:
                <input type="number" v-model="priceValue">
            </label>
            <label> User Money:
                <input type="number" v-model="userMoneyValue">
            </label>
            <button
                :class="[backgroundClases, {'prod-greater-1000':isElite, 'prod-greater-10000':isSuperElite, [titleClases]:isInputFilled}]">Pay</button>
        </div>
    </div>
    <hr>
    <style>
        .empty {
            background-color: grey;
        }

        .not-enough-money {
            background-color: red;
        }

        .enough-money {
            background-color: green;
        }

        .prod-greater-1000 {
            border: 2px solid yellow;
        }

        .prod-greater-10000 {
            box-shadow: -2px -2px 10px 10px blue;
        }

        .equal {
            color: rgb(128, 0, 79);
        }

        .diferent {
            color: orange;
        }
    </style>
    <script>
        const { createApp4 } = Vue
        createApp({
            data() {
                return {
                    priceValue: null,
                    userMoneyValue: null,
                }
            },
            computed: {
                isInputFilled() {
                    return this.priceValue && this.userMoneyValue
                },
                backgroundClases() {
                    let definition = null
                    if (!this.isInputFilled) definition = 'empty'
                    else if (this.userMoneyValue < this.priceValue) definition = "not-enough-money"
                    else definition = "enough-money"
                    return definition
                },
                titleClases() {
                    return this.priceValue === this.userMoneyValue ? "equal" : "diferent"
                },
                isElite() {
                    return this.isInputFilled && this.priceValue > 1000
                },
                isSuperElite() {
                    return this.isInputFilled && this.priceValue > 10000
                },
            }
        }).mount("#app4")
    </script>
    <!-- ========================================================================================== -->
    <div id="app5">
        <div class="container">
            <div v-for="(book, id) in booksList" :key="id">
                <h2>{{book.title}}</h2>
                <p>{{book.author}}</p>
                <img :src="book.imgSrc" alt="book image" width="200">
                <p>Price: {{book.price}} грн</p>
                <hr>
            </div>

        </div>
    </div>
    <script>
        const { createApp5 } = Vue
        const books = [
            {
                id: 1,
                title: "It",
                author: "Stephen King",
                imgSrc: "https://balka-book.com/files/2017/09_27/13_08/u_files_store_3_426540.jpg",
                price: 650,
            },
            {
                id: 2,
                title: "The Lord of the Rings",
                author: "J. R. R. Tolkien",
                imgSrc: "https://www.britishbook.ua/upload/resize_cache/iblock/336/vcc9n87wof7fig06t1dgroqt6v3j4tcf/1900_800_174b5ed2089e1946312e2a80dcd26f146/kniga_the_lord_of_the_rings.jpeg",
                price: 888,
            },
            {
                id: 3,
                title: "Fire and Blood",
                author: "George R. R. Martin",
                imgSrc: "https://www.britishbook.ua/upload/resize_cache/iblock/728/qzcx8f2jld56y3m1o4jjxin26wsqq3jq/292_448_174b5ed2089e1946312e2a80dcd26f146/kniga_fire_and_blood.jpg",
                price: 283,
            },
        ]
        createApp({
            data() {
                return {

                }
            },
            computed: {
                booksList() {
                    return books
                }
            }
        }).mount("#app5")
    </script>
    <!-- ========================================================================================== -->
    <div id="app6">
        <div class="container">
            <form action="#">
                <label>Product Name: <input type="text" v-model="productTitle"></label>
                <label>Product Amount: <input type="number" v-model="productAmount"></label>
                <button class="button" type="button" @click="onProductAdd">Add</button>
            </form>
            <hr>
            <div> Product List: 
                <ol>
                    <li v-for="(product, index) in productList" :key="index">
                        {{product.title}} - {{product.amount}}
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <script>
        const { createApp6 } = Vue
        createApp({
            data() {
                return {
                    productTitle: null,
                    productAmount: null,
                    productList: [],
                }
            },
            methods: {
                onProductAdd() {
                    this.productList.push({
                        title: this.productTitle,
                        amount: this.productAmount,
                    })
                    this.productTitle = null
                    this.productAmount = null
                }
            },
        }).mount("#app6")
    </script>
</body>

</html>